<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/language.png') }}">
    <style>
        .container {
            text-align: center;
            margin-top: 100px;
        }
        .thank_you {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
        .return {
            font-size: 15px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p class="thank_you">Thank you for your participation! 🎉</p>
        <p class="return">Your response has been successfully recorded. Compensation will be provided via Prolific shortly. Completion code: C1N59556</p>
    </div>
</body>
</html>